  <link rel="stylesheet" href="../styles/styles.css">
  <h1>{{icon}} {{title}}</h1>
<p>NO SE PUDO REALIZAR EL REGISTRO 🚫🚫</p>
<button onclick="window.location.href='http://127.0.0.1:3000/'">REGRESAR</button>