<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mi Aplicación</title>
</head>
<body>
  <header>
    <h1>BIBLIOTECA ITGAM</h1>
  </header>
  <div class="content">
    {{{body}}}
  </div>
  <footer>
    <p>&copy; 2023 Mi Aplicación</p>
    </footer>
</body>
</html>
