<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../styles/styles.css">
  
    <title>BIBLIOTECA ITGAM</title>
</head>

<body>
    <nav>
        <div class="dropdown">
        <a href="http://127.0.0.1:3000/devoluciones">Devoluciones</a>
        </div>
         <div class="dropdown">
            <button class="dropbtn">Reservaciones</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:3000/reservacion">Registrar Reservacion</a>
                <a href="http://127.0.0.1:3000/buscarReservaciones">Visualizar Reservaciones</a>
            </div>
        </div>
                <div class="dropdown">
            <button class="dropbtn">Préstamos</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:3000/prestamo">Registrar Préstamo</a>
                <a href="http://127.0.0.1:3000/buscarPrestamos">Visualizar Préstamos</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Libros</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:3000/registro">Registrar Libro</a>
                <a href="http://127.0.0.1:3000/libros">Visualizar Libros</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Usuarios</button>
            <div class="dropdown-content">
                <a href="http://127.0.0.1:3000/usuarios">Registrar Usuario</a>
                <a href="http://127.0.0.1:3000/buscar">Visualizar Usuarios</a>
            </div>
        </div>

        <div class="dropdown">
        <a href="http://127.0.0.1:3000/">Inicio</a>
        </div>
    </nav>
</body>

</html>
